<md-tabs style="font-size: 12px;" class="mark" md-dynamic-height md-border-bottom>
      <md-tab label="Sem-{{$index+1}}" md-primary ng-repeat="sem in markDetails">
        <md-card layout="column" style="background: rgb(238, 238, 238);border-top: solid 3px rgba(0, 0, 0, 0.48);" class="md-padding">   
        <md-content class="md-padding"  ng-repeat="exam in sem.exam">
          <h4>{{exam.name}}</h4>
          <md-divider></md-divider>
          <div layout="row" style="padding-top:10px">
            <div flex=5 style="padding-left:5px"><b>S.No</b></div>
            <div flex=10><b>Subject Code</b></div>
            <div flex=35><b>Subject Name</b></div>
            <div flex=10><b>Min Mark</b></div>
            <div flex=10><b>Max Mark</b></div>
            <div flex=10><b>Obtained Mark</b></div>
            <div flex=10><b>First Mark</b></div>
            <div flex=10><b>Status</b></div>
         </div>
          <div layout="column">
            <div layout="row" ng-class="{'fail':{{subject.obtained_mark}} < {{subject.min_mark}},'pass':{{subject.obtained_mark}} >= {{subject.min_mark}}}" class="subject" ng-repeat="subject in exam.subjects">
            <div style="padding-top: 5px;padding-bottom: 5px;padding-left:5px;" flex=5>{{$index+1}}.</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=10>{{subject.subject_code}}</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=35>{{subject.subject_name}}</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=10>{{subject.min_mark}}</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 45px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=10>{{subject.max_mark}}</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 45px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=10>{{subject.obtained_mark}}</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=10>{{subject.first_mark}}</div>
            <div style="padding-top: 5px;padding-bottom: 5px;padding-right: 25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" flex=10>{{subject.status}}</div>
          </div>
          <md-divider style="margin-top:10px" ng-if="!$last"></md-divider>    
        </div>
        </md-content>
        </md-card>
      </md-tab>
</md-tabs>
<style>
    .mark md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(63, 81, 181);
    background-color:rgb(63, 81, 181);
}
    .mark .pass{
      background-color: rgba(140, 158, 255, 0.51);
    }
    .mark .pass:hover{
      background-color: rgb(121,134,203);
    }
    .fail{
      background-color: pink;
    }
</style>
