<md-card layout="column" style="background: rgb(238, 238, 238);border-top: solid 3px rgba(0, 0, 0, 0.48);" class="md-padding">
<div layout="row">
    <div flex=5><b>S.No</b></div>
    <div flex=20><b>Book Name</b></div>
    <div flex=10><b>Book Id</b></div>
    <div flex=15><b>Issued Date</b></div>
    <div flex=15><b>Renewal Date</b></div>
    <div flex=15><b>Return Date</b></div>
    <div flex=10><b>Fine Amt ( <i class="icon-inr"></i> )</b></div>
    <div flex=15><b>Status</b></div>
</div>
<br>
<div layout="column" ng-repeat="libary in libraryDetails">
    <div layout="row">
    <div style="padding-top: 15px;" flex=5>{{$index+1}}.</div>
    <div style="padding-top: 15px;padding-right: 45px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding-bottom: 5px;" title="{{libary.bookName}}" flex=20>{{libary.bookName}}</div>
    <div style="padding-top: 15px;padding-right: 45px;padding-bottom: 5px;" flex=10>{{libary.bookId}}</div>
    <div style="padding-top: 15px;padding-right: 30px;padding-bottom: 5px;" flex=15>{{libary.issuedDate}}</div>
    <div style="padding-top: 15px;padding-right: 30px;padding-bottom: 5px;" flex=15>{{libary.renewalDate}}</div>
    <div style="padding-top: 15px;padding-right: 30px;padding-bottom: 5px;" flex=15>{{libary.returnDate}}</div>
    <div style="padding-top: 15px;padding-right: 30px;padding-bottom: 5px;" flex=10>{{libary.fineAmt}}</div>
    <div style="padding-top: 15px;padding-right: 30px;padding-bottom: 5px;" flex=15>{{libary.status}}</div>
    </div>
    <md-divider ng-if="!$last"></md-divider>    
    </div>

</md-card>