/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}




.login-header{
background: #3f51b5;
    color: #FFFFFF;
}    

.login-card{
  width: 70%;
}





.link:hover{
  cursor:pointer;
}



.auto-scroll{
        overflow: hidden;
    }
.auto-scroll:hover {
        overflow: auto;
    }

@media (max-width: 600px) 
{
    #menu
    {
        display: none;
    }
}

.auto-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.auto-scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.auto-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0.38);
}








